* {
  box-sizing: border-box;
}

body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

#base64-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem;
}

#base64-input, #base64-output {
  height: 100%;
  width: 100%;
}

#base64-output {
  padding: 1rem;
}

#base64-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#textarea-container {
  width: 100%;
  height: 100%;
}

